[submodule "named-readtables"]
	path = named-readtables
	url = https://github.com/melisgl/named-readtables
[submodule "clon"]
	path = clon
	url = https://github.com/didierverna/clon
[submodule "trivial-features"]
	path = trivial-features
	url = https://github.com/trivial-features/trivial-features.git
